<div style="background: #f6f6f6;padding: 15px;margin: 10px 10px 0 0;border: 1px solid gray;border-radius: 5px;">
                <label for="custom-img">Insérez une image (PNG/JPEG)</label>
            	<input type="file" name="properties[photo]" id="custom-img" required>
             </div>
